<template>
  <div class="camera">
    <video autoplay class="feed"></video>
    <button class="snap" v-on:click="$emit('takePicture')">КЛИК</button>
  </div>
</template>

<script>
export default {
  name: "vCamera",
  methods: {
    init() {
      if (
        "mediaDevices" in navigator &&
        "getUserMedia" in navigator.mediaDevices
      ) {
        let constraints = {
          video: {
            width: {
              min: 640,
              ideal: 1280,
              max: 1920,
            },
            height: {
              min: 360,
              ideal: 720,
              max: 1080,
            },
          },
        };
        navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
          const videoPlayer = document.querySelector("video");
          videoPlayer.srcObject = stream;
          videoPlayer.play();
        });
      }
    },
  },
  beforeMount() {
    this.init();
  },
};
</script>

<style lang="scss" scoped>
.camera {
  max-width: 100vw;
  max-height: 100vh;
  padding: 25px;
  box-sizing: border-box;

  .feed {
    display: block;
    width: 100%;
    max-width: 1280px;

    margin: 0 auto;

    background-color: #171717;
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.35);
  }

  .snap {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;

    margin: 25px auto;

    background-color: transparentize($color: #ffce00, $amount: 0.75);
    border-color: #171717;
    outline: none;

    cursor: pointer;

    &:hover {
      background-color: #ffce00;
    }
    &:active {
      background-color: darken($color: #ffce00, $amount: 10);
    }
  }
}
</style>
