<template>
  <div class="container">
    <v-Camera v-on:takePicture="this.takePicture" />
    <v-Gallery />
  </div>
</template>

<script>
import vCamera from "./components/v-Camera";
import vGallery from "./components/v-Gallery";

export default {
  name: "App",
  components: {
    vCamera,
    vGallery,
  },
  methods: {
    takePicture() {
      let ratio = window.innerHeight < window.innerWidth ? 9 / 16 : 16 / 9;
      const picture = document.querySelector("canvas");
      picture.width = window.innerWidth < 1280 ? window.innerWidth : 1280;
      picture.height = window.innerWidth / ratio;
      const ctx = picture.getContext("2d");
      ctx.imageSmoothingEnabled = true;
      ctx.imageSmoothingQuality = "high";
      ctx.drawImage(
        document.querySelector("video"),
        0,
        0,
        picture.width,
        picture.height
      );
    },
  },
};
</script>

<style lang="scss">
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}


</style>
